.ant-row{
    .ant-col-10{
        h2{
            width: 70%;
            margin: 10px;
        }
    }

    .ant-col-14{
        .icons{
            display: flex;
            margin: 16px 0px 0px 70px;
            font-size: 20px;

            .anticon-form{
                font-size: 18px;
            }
            .anticon-container{
                font-size: 18px;
            }
            .anticon-filter{
                font-size: 18px;
            }
        } 
    }

    .ant-col-24{
        h5{
            margin: 0px 0px 0px 10px;
            color: rgb(138, 138, 138);
        }
    }

}