.ant-tabs-top{

    .ant-tabs-nav{
        
        .ant-tabs-nav-list{
            width: 100%;
            font-weight:500;
            
            .ant-tabs-tab{
                width: 50%;
                padding: 12px 0;
                margin: 0;
                color: #696969;
                
                .ant-tabs-tab-btn{
                    margin: auto;
                }
                .ant-tabs-tab-active{
                    border-color: #5773cc;
                    border-bottom: 5px;
                }
            }
        }
    }

    .ant-tabs-content-holder-selected{
        background-color: #5773cc;
        color: white;
        .ant-list-item{
            padding: 10px 10px;
            
            .ant-list-item-meta{
                .ant-list-item-meta-avatar{
                    margin: auto;
                    padding: 10px;
    
                    .ant-avatar-image{
                        width: 50px; 
                        height: 50px; 
                    }
                }
    
                .ant-list-item-meta-content{
                    
                    .ant-list-item-meta-title{
                        margin: 10px 0px;
                        h4{
                            margin: 0;
                        }
                    }
    
                    .ant-list-item-meta-description{
                        font-size: 13px;
                    }
                }
            }
    
            .Timer{
                padding-bottom: 30px;
                margin-right:10px;
            }
        } 
    }

    .ant-tabs-content-holder{
        .ant-list-item{
            padding: 10px 10px;
    
            .ant-list-item-meta{
    
                .ant-list-item-meta-avatar{
                    margin: auto;
                    padding: 10px;
    
                    .ant-avatar-image{
                        width: 50px; 
                        height: 50px; 
                    }
                }
    
                .ant-list-item-meta-content{
                    
                    .ant-list-item-meta-title{
                        margin: 10px 0px;
                        h4{
                            color: white;
                            margin: 0;
                        }
                    }
    
                    .ant-list-item-meta-description{
                        font-size: 13px;
                    }
                }
            }
    
            .Timer{
                padding-bottom: 30px;
                margin-right:10px ;
            }
        } 
    }
}